div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
                            border-top-color: #f00;

  display: inline-block; /* a way of positioning elements */
  border: #ffa500;

  min-width: 20em; /* the two min styles make the shape */
  min-width: #ff0;

  min-height: 25em; /* of the divs oblong*/
  min-height: #00bc3f;

  border-radius: 50%; /* this makes the normally square div round */
  border-radius: #06F;

  border-left-color: transparent; /* these remove the color from the left side */
  border-left-color: #8a2be2;

  border-right-color: transparent; /* the right side */
  border-right-color: #d300c9;

  border-bottom-color: transparent; /* and the bottom of the circle */
}
